<div id="playerZone">
  <ul class="players">
    <li>Player 1</li>
    <li>
      <button class="addHuman tiny green button radius">+ Human</button>
      <button class="addCPU tiny green button radius">+ CPU</button>
    </li>
  </ul>
</div>
<div class="clear"></div>
<div id="zee">
  <p class="messageZone"></p>
  <div class="rollZone">
    <ul class="dice">
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
    </ul>
  </div>
  <br class="clear">

  <p class="center">
    <button class="rollButton green button radius">Roll <span class="rollNum"></span></button>
  </p>

  <hr>
  <div class="scores">

  <div class="row scoreRow">
    <div class="ones two columns">
      <h4>Ones</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="twos two columns">
      <h4>Twos</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="threes two columns">
      <h4>Threes</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="fours two columns">
      <h4>Fours</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="fives two columns">
      <h4>Fives</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="sixes two columns">
      <h4>Sixes</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
  </div>

  <div class="row scoreRow">
    <div class="three-kind two columns">
      <h4>Three of a kind</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="four-kind two columns">
      <h4>Four of a kind</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="full-house two columns">
      <h4>Full House</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="tiny-straight two columns">
      <h4>Small Straight</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="large-straight two columns">
      <h4>Large Straight</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
    <div class="chance two columns">
      <h4>Chance</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
  </div>
  <div class="row scoreRow">
    <div class="yah two columns">
      <h4>Yahtzee</h4>
      <button class="tiny black button">Score</button>
      <p class="score">0</p>
    </div>
  </div>
  </div>

  <hr>
  <table class="totals center">
    <tbody>
      <tr>
        <td>Top</td>
        <td class="top">0</td>
      </tr>
      <tr>
        <td>Bottom</td>
        <td class="bottom">0</td>
      </tr>
      <tr>
        <td>Bonus</td>
        <td>Top: <span class="topBonus">0</span><br>Extra Yahtzee: <span class="yahBonus">0</span> (<span class="yahCount">0</span>)</td>
      </tr>
      <tr>
        <td>Total</td>
        <td class="total">0</td>
      </tr>
    </tbody>
  </table>
</div>
<code><pre id="log"></pre></code>
