
<div id="zee">
  <div class="rollZone">
    <ul>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
      <li class='die'><img src="/img/dice/blank.png" /></li>
    </ul>
  <div class="rollNum"></div>
  <button>Roll</button>
  </div>
  <table class="scores">
    <tr>
      <td class="ones">
        <h3>Ones</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="twos">
        <h3>Twos</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="threes">
        <h3>Threes</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="fours">
        <h3>Fours</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="fives">
        <h3>Fives</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="sixes">
        <h3>Sixes</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
    </tr>
    <tr>
      <td class="three-kind">
        <h3>Three of a kind</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="four-kind">
        <h3>Four of a kind</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="full-house">
        <h3>Full House</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="small-straight">
        <h3>Small Straight</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="large-straight">
        <h3>Large Straight</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="sixes">
        <h3>Sixes</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>
      <td class="yah">
        <h3>Yahtzee</h3>
        <button>Score</button>
        <p class="score">
        </p>
      </td>

    </tr>

  </table>
</div>
